<ion-content padding>
  <ion-item lines="none"></ion-item>
  <ion-item lines="none"></ion-item>

  <ion-item lines="none"></ion-item>
  <ion-item lines="none">
    <ion-label text-center text-wrap>
      Eu sou parente de um idoso
    </ion-label>
  </ion-item>
  <ion-button expand="full" (click)="chooseParents()">Família</ion-button>

  <ion-item lines="none"></ion-item>
  <ion-item lines="none"></ion-item>
  <ion-item lines="none">
    <ion-label text-center text-wrap>
      Eu desejo auxiliar idosos
    </ion-label>
  </ion-item>
  <ion-button expand="full" (click)="chooseCompanion()">Acompanhantes</ion-button>
</ion-content>
