<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Seu Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" margin-top>
    <ion-avatar slot="start">
      <img [src]="relative.icon" />
    </ion-avatar>
    <ion-text>
      <h3>{{ relative.name }}</h3>
      <p>{{ relative.phone }}</p>
    </ion-text>
  </ion-item>

  <app-elderly-list></app-elderly-list>

  <ion-item lines="full"></ion-item>

  <ion-item lines="full" button detail="false" (click)="logout()">
    <ion-icon name="log-out" mode="ios" slot="start"></ion-icon>
    <ion-label>
      Sair
    </ion-label>
  </ion-item>

</ion-content>
